<h1>Ingreso</h1>  

<%= form_tag({:controller => "session", :action => "create"}, :method => "get") do %>
	<table>
		<tr>
			<td><%= label_tag "Usuario", "Alias: " %></td>
			<td><%= text_field_tag :alias, params[:alias], placeholder: 'Ingrese su alias' %></td>
		</tr>
		<tr>
			<td><%= label_tag "password", "Contrasena: " %></td>
			<td><%= password_field_tag :password, params[:password], placeholder: 'Ingrese su contrasena' %></td>
		</tr>
	</table>
  <div class="actions"><%= submit_tag "Ingresar" %></div>  
<% end %>