<% o = Oferta.find(@producto.ganador) %>
<p>
	Usted ha ganado <%= o.monto * 0.7 %> por la venta de su producto <%= @producto.nombre %>.
</p>
<p>
	El comprador del producto es <%= o.usuario.nombre %>
</p>
<p>
	Sus datos personales, para el contacto, son:
</p>
<p>
	Domicilio: <%= o.usuario.domicilio %>
</p>
<p>
	Telefono: <%= o.usuario.tel %>
</p>
<p>
	E-mail: <%= o.usuario.mail %>
</p>
<p>
	Gracias por usar Bestnid.
</p>
