
<h1><%= @producto.nombre %></h1>

<%= image_tag @producto.imagen, title: "Foto" %>
<p><%= @producto.descripcion %></p>
<p>Inicio de la subasta: <%= @producto.created_at %></p>
<p>Fin de la subasta: <%= @producto.vencimiento %></p>

<h2>Ofertas</h2>
<% if session[:usuario_id] == @producto.usuario_id %>
	<% if @producto.ofertas.size > 0 %>
		<ul>
			<%= render @producto.ofertas %>
		</ul>
	<% else %>
		<p>No hay ofertas</p>
	<% end %>
<% else %>
	<p>Debes ser dueño del producto para ver las ofertas.</p>
	<% if session[:usuario_id] %>
		<% if not @u_ofertas.include?(session[:usuario_id]) %>
			<button class='btn btn-default'>Ofertar</button>
		<% else %>
			<p>Ya has ofertado sobre este producto</p>
		<% end %>
		<p><%= link_to 'Mis ofertas', Usuario.find(session[:usuario_id]) %></p>
	<% end %>
<% end %>


<h2>Comentarios</h2>
<% if @producto.comentarios.size > 0 %>
	<ul>
		<%= render @producto.comentarios %>
	</ul>
<% else %>
	<p>No hay comentarios</p>
<% end %>
