
<h1><%= @producto.nombre %></h1>

<%= image_tag @producto.imagen, title: "Foto" %>
<p><%= @producto.descripcion %></p>
<p>Inicio de la subasta: <%= @producto.created_at %></p>
<p>Fin de la subasta: <%= @producto.vencimiento %></p>

<h2>Ofertas</h2>
<% if session[:usuario_id] == @producto.usuario_id %>
	<% if @producto.ofertas.size > 0 %>
		<ul>
			<%= render @producto.ofertas %>
		</ul>
	<% else %>
		<p>No hay ofertas</p>
	<% end %>
<% else %>
	<p>Debes ser dueño del producto para ver las ofertas.</p></br>
	<% if session[:usuario_id] %>
		<% @u_ofertas = {} %>
		<% for i in 0..Producto.find(params[:id]).ofertas.count-1 %>
     		<% @u_ofertas[i]= Producto.find(params[:id]).ofertas[i].usuario_id %>
    	<% end %>
		<% if not @u_ofertas.include?(session[:usuario_id]) %>
			<p>Haga su oferta</p>
			<% @oferta = Oferta.new %>
			<%= form_for(@oferta, url: new_oferta_path, :method => 'get') do |f| %>
			<%= f.text_area :detalle, placeholder: 'Cuentele al dueño porque quiere su producto', required: true %>

			<%= f.hidden_field :usuario_id, :value => session[:usuario_id] %>
			<%= f.hidden_field :producto_id, :value => @producto.id %>
			<div>
				<%= f.submit 'Ofertar', class:'btn btn-default' %>
			</div>
			<% end %>

		<% else %>
			<p>Ya has ofertado sobre este producto</p>
		<% end %>
		<p><%= link_to 'Mis ofertas', Usuario.find(session[:usuario_id]) %></p>
	<% end %>
<% end %>


<h2>Comentarios</h2>
<% if @producto.comentarios.size > 0 %>
	<ul>
		<%= render @producto.comentarios %>
	</ul>
<% else %>
	<p>No hay comentarios</p>
<% end %>
	
<% if session[:usuario_id]!=nil  && session[:usuario_id]!=@producto.usuario_id %>
	<% @comentario = Comentario.new %>
			<%= form_for(@comentario, url: new_comentario_path, :method => 'get') do |f| %>
			<%= f.text_area :detalle, placeholder: 'Comente su opinión', required: true %>

			<%= f.hidden_field :usuario_id, :value => session[:usuario_id] %>
			<%= f.hidden_field :producto_id, :value => @producto.id %>
			<%= f.hidden_field :pregunta, :value => "true" %>
			<div>
				<%= f.submit 'Comentar', class:'btn btn-default' %>
			</div>
			<% end %>
<% end %>
	

