<%= form_for(@usuario) do |f| %>
	<p><%= f.label :nombre %>
	<%= f.text_field :nombre, required: true %></p>
	
	<p><%= f.label :mail %>
	<%= f.text_field :mail, required: true %></p>
	
	<p><%= f.label :password %>
	<%= f.password_field "Contraseña", required: true %></p>
	<p><%= f.label :password %>
	<%= f.password_field :password, required: true %></p>

	</br>
	<%= f.submit 'Guardar' %>
<% end %>
