<%= form_for(@usuario) do |f| %>

	<%= label_tag "nombre", "Nombre: " %>
	<%= f.text_field :nombre, required: true, placeholder: 'Ingrese un nombre' %>
	
	</br>
	<%= label_tag "mail", "E-mail: " %>
	<%= f.text_field :mail, required: true, placeholder: 'Ingrese un mail' %>
	
	</br>
	
	<%= label_tag "password1", "Contraseña: " %>
	<%= f.password_field :password , required: true, placeholder: 'Ingrese una Contraseña' %></label>
	
	</br>
	
	<%= label_tag "password2", "Contraseña: " %>
	<%= f.password_field :pass , required: true, placeholder: 'Ingrese una Contraseña' %></label>
	
	</br>
	
	
	<%= f.submit 'Guardar' %>
<% end %>
