<%= form_for(@usuario) do |f| %>

	<form action="/usuario" method="post">
	
	<%= label_tag "nombre", "Nombre: " %>
	<%= f.text_field :nombre, required: true, uniqueness: true, placeholder: 'Ingrese un nombre' %>
		
	</br>
	
	<%= label_tag "alias", "Alias: " %>
	<%= f.text_field :alias, required: true, uniqueness: true, placeholder: 'Ingrese un alias' %>
	
	</br>
	
	<%= label_tag "mail", "E-mail: " %>
	<%= f.email_field :mail, required: true, placeholder: 'Ingrese un mail' %>
	
	</br>
	
	<%= label_tag "password1", "Contraseña: " %>
	<%= f.password_field :password , required: true, placeholder: 'Ingrese una Contraseña' %></label>
	
	</br>
	
	<%= label_tag "password2", "Contraseña: " %>
	<%= f.password_field :pass , required: true, placeholder: 'Repita la Contraseña' %></label>
	
	</br>
	
	<%= label_tag "telefono", "Telefono: " %>
	<%= f.telephone_field :tel , required: true, placeholder: 'Ingrese numero telefonico' %></label>
	
	</br>
	<%= label_tag "credito", "Tarjeta: " %>
	<%= f.number_field :credit , required: true, placeholder: 'Ingrese su numero de tarjeta' %></label>

	<%= f.submit 'Guardar' %>
	
<% end %>
