

<%= form_for(@usuario) do |f| %>
	
	<% if @usuario.errors.any? %>
	<div id="error_explanation">
	<% if @usuario.errors.count > 1 %>
		<h3 style="color:red"><%= @usuario.errors.count %> errores</h1>
	<% else %>
		<h3 style="color:red"><%= @usuario.errors.count %> error</h1>
	<% end %>
	
	<ul>
	<% @usuario.errors.full_messages.each do |msg| %>
		<li style="color:red"><%== msg %></li>
	<% end %>
	</ul>
	</div>
	<% end %>
	
	<form action="/usuario" method="post">
	
	<p style="color:blue">Los campos con * son obligatorios</p>
	
	<table>
		<tr>
			<td> <%= label_tag "nombre", "Nombre: " %> </td>
			<td> <%= f.text_field :nombre,size: 25, required: true, placeholder: 'Ingrese un nombre' %> </td>
			<td> * <span style="color:blue">Solo letras y espacios. Se diferencian mayúsculas de minúsculas</span></td>
		</tr>
		<tr>
			<td><%= label_tag "alias", "Alias: " %></td>
			<td><%= f.text_field :alias,size: 25, required: true, placeholder: 'Ingrese un alias' %></td>
			<td> * <span style="color:blue">Es el nombre con el cual se iniciará sesión. Solo letras, espacios, "."(punto) "-" o "_"(guiones). Se diferencian mayúsculas de minúsculas.</span></td>
		</tr>
		<tr>
			<td><%= label_tag "mail", "E-mail: " %></td>
			<td><%= f.email_field :mail,size: 25, required: true, placeholder: 'Ingrese un mail' %></td>
			<td>* <span style="color:blue">Ej: EctoBiologist@Homestuck.com</td></span>
		</tr>
		<tr>
			<td><%= label_tag "password1", "Contraseña: " %></td>
			<td><%= f.password_field :password ,size: 25, required: true, placeholder: 'Ingrese una Contraseña' %></td>
			<td>* <span style="color:blue">Alterne Mayúsculas, minúsculas, símbolos y números para hacerla más segura</span></td>
		</tr>
		<tr>
			<td><%= label_tag "password2", "Contraseña: " %></td>
			<td><%= f.password_field :pass ,size: 25, required: true, placeholder: 'Repita la Contraseña' %></td>
			<td>* <span style="color:blue">Debe coincidir con la ingresada en el campo superior</span></td>
		</tr>
		<tr>
			<td><%= label_tag "telefono", "Telefono: " %></td>
			<td><%= f.telephone_field :tel ,size: 25, required: true, placeholder: 'Ingrese numero telefonico' %></td>
			<td>* <span style="color:blue">Omita carácteres no numéricos</span></td>
		</tr>
		<tr>
			<td><%= label_tag "credito", "Tarjeta: " %></td>
			<td><%= f.text_field :credit ,size: 25, required: true, placeholder: 'Ingrese el número de tarjeta' %></td>
			<td>* <span style="color:blue">Omita separaciones entre dígitos</span></td>
		</tr>
		<tr>
			<td><%= label_tag "titular", "Titular: " %></td>
			<td><%= f.text_field :titular ,size: 25, required: true, placeholder: 'Ingrese el dueño de la tarjeta' %></td>
			<td>* <span style="color:blue">Solo letras mayúsculas y espacios</span></td>
		</tr>
		<tr>
			<td> <%= label_tag "Vencimiento", "Vencimiento: " %> </td>
			<td> <%= select_tag(:mes, options_for_select((1..12).step(1).to_a{|s| ["#{s}%", s]})) %><%= select_tag(:ano, options_for_select((Time.now.year..Time.now.year + 10).step(1).to_a{|s| ["#{s}%", s]})) %>
			<td> * <span style="color:blue">Ingrese el mes y año de vencimiento de su tarjeta</span></td>	
		</tr>
		<tr>
			<td><%= label_tag "Domicilio", "Domicilio: " %></td>
			<td><%= f.text_field :domicilio ,size: 25, required: true, placeholder: 'Ingrese su domicilio' %></td>
			<td>* <span style="color:blue">Ej: 52 n0000 e 38 y 39</span></td>
		</tr>	
	</table>
	</br>
	<%= f.submit 'Guardar' %>
	
<% end %>
