<h1>Estadisticas</h1>

</br>
    <% total=0 %>
	<% lista=params[:lista] %>
	<table BORDER=2 WIDTH= 800 BORDERCOLOR="red">
		<tr>
			<td WIDTH=200 ALIGN=CENTER BGCOLOR="red" style="color:white"> Usuario </td>
			<td WIDTH=200 ALIGN=CENTER BGCOLOR="red" style="color:white"> Producto </td>
			<td WIDTH=200 ALIGN=CENTER BGCOLOR="red" style="color:white"> Fecha de venta </td>
			<td WIDTH=200 ALIGN=CENTER BGCOLOR="red" style="color:white"> Ganancia </td>
		</tr>
		<% lista.each do |l| %>
			<tr>
			<td WIDTH=200 ALIGN=CENTER > <%= Usuario.find(l.usuario_id).nombre %> </td>
			<td WIDTH=200 ALIGN=CENTER > <%= l.nombre %> </td>
			<td WIDTH=200 ALIGN=CENTER > <%= l.created_at %> </td>
			<% ganancia=Oferta.find(l.ganador).monto*30/100 %>
			<% total=total+ganancia %>
			<td WIDTH=200 ALIGN=CENTER > $<%= ganancia %> </td>
			</tr>
		<% end %>
	</table>
</br>
<p>Ganancia total: $<%= total %></p>
</br>
</br>
<%= link_to "Volver", estadisticas_show_path , class: 'btn btn-primary' %>