
<header>
  <div class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
          
        <%= link_to root_path do %>
         <%= image_tag "logo.png", class: "logo" %>
        <% end %>

        
        <%= link_to "Usuarios", usuarios_path, class: 'btn btn-default' %>
<%= link_to "Categorias", categorias_path, class: 'btn btn-default' %>

		<% if session[:usuario_id]==nil %>
			<%= link_to "Log in", session_new_path , class: 'btn btn-success' %>
			<%= link_to "Regístrate", new_usuario_path, class: 'btn btn-default' %>
		<% else %>
			<%= link_to "Log out", session_destroy_path, class: 'btn btn-default' %>
		<% end %>
		<form class="navbar-form navbar-right" role="search">
        <button>Ayuda</button>
        <button>Quienes somos</button>
		</form>

      </div>


    </div>

  </div>

</header>
