
<header>
  <div class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
          
        <%= link_to root_path do %>
         <%= image_tag "logo.png", class: "logo" %>
        <% end %>

        
        

		<% if session[:usuario_id]==nil %>
			<%= link_to "Conectarse", session_new_path , class: 'btn btn-success' %>
			<%= link_to "Regístrate", new_usuario_path, class: 'btn btn-default' %>
		<% else %>
			<%= link_to Usuario.find(session[:usuario_id]).nombre, Usuario.find(session[:usuario_id]), class: 'btn btn-primary' %>
			<%= link_to "Subastar", new_producto_path, class: 'btn btn-default' %>
			<%= link_to "Desconectarse", session_destroy_path, class: 'btn btn-default' %>
		<% end %>
		<form class="navbar-form navbar-right" role="search">
		</form>

      </div>


    </div>

  </div>

</header>
