<!DOCTYPE html>
<html>
<head>
  <title>Bestnid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<% if flash[:notice] %>
	<div class=´'alert alert-danger'>
		<%= flash[:notice] %>
	</div>
<% end %>

<%= yield %>

</body>
</html>
